// Extending Pure

.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
  background: rgb(28, 184, 65);
}

.pure-button-error {
  background: rgb(202, 60, 60);
}

.pure-button-warning {
  background: rgb(223, 117, 20);
}

.pure-button-secondary {
  background: rgb(66, 184, 221);
}

// Lens

body {
  padding-left: 10px;
  padding-right: 10px;
  width: 400px;
  min-height: 100px;
  max-height: 600px;
  font-family: Ubuntu, Helvetica, Arial, sans-serif;
  word-wrap: break-word;
}

h1 {
  font-size: 2em;
}

#version {
  font-size: 0.5em;
  color: gray;
  font-style: normal;
  cursor: pointer;
  text-decoration: underline;
}

.block {
  display: block;
}

.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    padding-top: 5px;
    margin-top: 5px;
  }
}

.success {
  color: rgb(28, 184, 65);
}

.warning {
  color: rgb(223, 117, 20);
}

#toggles {

  .enabled {
    .status.disabled {display:none;}
    .status.enabled {
    color: rgb(28, 184, 65);
      ~ .action.enable {
        display: none;
      }
    }
  }

  .disabled {
    .status.enabled {display:none;}
    .status.disabled {
    color: rgb(202, 60, 60);
      ~ .action.disable {
        display: none;
      }
    }
  }

  .action{float:right;} 
}

