body {
  padding-left: 10px;
  padding-right: 10px;
  width: 400px;
  min-height: 400px;
  font-family: Helvetica, Ubuntu, Arial, sans-serif;
  word-wrap: break-word;
}

h1 {
  font-size: 2em;
}

#version {
  font-size: 0.5em;
  color: gray;
  font-style: normal;
}

.block {
  display: block;
}

.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    padding-top: 5px;
    margin-top: 5px;
  }
}

.warning {
  color: rgb(223, 117, 20);
}

#cookies {

  .status.unknown {
    color: gray;
  }

  .status.enabled {
    color: rgb(28, 184, 65);

    ~ .action.enable {
      display: none;
    }
  }

  .status.disabled {
    color: rgb(202, 60, 60);

    ~ .action.disable {
      display: none;
    }
  }

}

#network {
  dt {
    font-weight: bold;
  }
}

.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
  background: rgb(28, 184, 65);
}

.pure-button-error {
  background: rgb(202, 60, 60);
}

.pure-button-warning {
  background: rgb(223, 117, 20);
}

.pure-button-secondary {
  background: rgb(66, 184, 221);
}